<h1>Convert <%=params[:first]%></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @currencies.each do |currency| %>
    <li>
      <a href="/<%=params[:first]%>/<%= currency %>"> Convert 1 <%=params[:first]%> to <%= currency %>...</a>
    </li>
  <% end %>
</ul>
